body {
padding-left:20%;

}

.updatedata{
color: royalblue;
font-weight: 800;

}

.savedata{
      color: red;
      font-weight: 800;
      
      }
.country{
     font-size: 30px;
     list-style:none;
      }
 .stylesObj{
        display:none;
       }
      
